.content {
  width: calc(60% - 20px) !important;
}

.settings {
  width: calc(20% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  background-color: #0b4f6c;
  color: white;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
  min-width: 200px;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: block;
      margin: 10px 0;
      color: rgba(255, 255, 255, 0.85);
      text-decoration: none;
      padding: 15px;
      font-size: 1.6rem;
      font-weight: bolder;
      background-color: #10719a;
      width: 80%;
      border-radius: 10px;
    }

    a:hover {
      background-color: #2791bf;
    }
  }
}


#map {
  background-color: black;
  width: 80%;
  height: 75%;
}